{{> header}}

<div class="container">
	<div class="row">
		<div class="col-md-4 selectionBox">
			{{> selections }}
		</div>
		<div class="col-md-4">
			<div class="row">
				{{> showimage }}
			</div>
			<div class="row">
				{{> order }}
			</div>
		</div>
		<div class="col-md-4 devouredBox">
			{{> devoured }}
		</div>
	</div>
</div>